<!--
<div class="costs reportSection {{lengthChangeClass}}">
  <h4>Distance and Fuel Costs</h4>
  {{#significantDistanceChange}}
  <p class="summary"><span class="measure">{{lengthPercentChange}}</span> each year for all transits</p>
  <div class="distance">
    <span class="measure">{{lengthChange}}</span>
    change in length
  </div>
  <div class="fuel">
    <span class="measure">{{tonsFuelChange}}</span>
    in fuel consumption
  </div>
  <div class="cost">
    <span class="measure">${{costChange}}</span>
    in voyage costs
  </div>
  {{/significantDistanceChange}}
  {{^significantDistanceChange}}
  <p class="summary">No significant difference from existing configuration.</p>
  {{/significantDistanceChange}}
</div>
-->
<div class="emissions reportSection {{emissionsChangeClass}}">
  <h4>Emissions</h4>
  <p class="summary_emissions"><span class="measure">{{emissionsPercentChange}}</span> tons CO<sub>2</sub> emissions</p>
  <p>Assuming a speed of 16 knots, CO<sub>2</sub> emissions for the new shipping lane are approximately 
    <strong>{{new_emissions}} tons</strong>, {{#emissionsIncreased}}up{{/emissionsIncreased}}{{^emissionsIncreased}}down{{/emissionsIncreased}} from the previous emissions of <strong>{{orig_emissions}} tons</strong>.
  </p>
  <p><i>Note: Emissions numbers are based on averages and should only be used for comparative purposes.</i></p>
</div>