{{#intersectsRig}}
<div class="reportSection oilRig warning {{lengthChangeClass}}">
  <h4>Oil Platform Intersection</h4>
  <p>
    Your proposal overlaps the safety area around an oil platform!
    <br>
  </p>
  <a href="#" data-toggle-node="54ac50fd0e7f86cf7909abd2">show platforms</a>
</div>
{{/intersectsRig}}

