{{#anyAttributes}}
    <div class="reportSection tableContainer">
    	<h4>Attributes for {{sketchClass.name}} </h4>
	    <table>
	      <thead>
	        <tr>
	          <th>Name</th>
	          <th>Value</th>
	        </tr>
	      </thead>
	    <tbody>
	        {{#attributes}}
	          <tr>
	            <td>{{name}}</td>
	            <td>{{value}}</td>
	          </tr>
	        {{/attributes}}
	    </tbody>
    	</table>
  </div>
{{/anyAttributes}}

<div class="distance reportSection">
  <h4>Zone Sizes</h4>
  {{#zones}}
  	<p class="large">
  		The selected proposal contains <strong>{{SC_ID}}</strong> sketches that total <strong>{{SIZE_SQMI}}</strong> square miles.
  	</p>
  {{/zones}}
</div>

<div class="distance reportSection">
  <h4>Shipping Lane Lengths</h4>
  {{#lengths}}
  	<p class="large">
  		The proposed shipping lane <strong>'{{NAME}}'</strong> is <strong>{{NEW_LENGTH}}</strong> miles long.
  	</p>
  {{/lengths}}
</div>
