
<div class="reportSection sightings">
  <h4>Biologically Important Areas (BIAs)
    <a href="#" style="float:right;" data-toggle-node="54dcd2ee9d2d9ba032e35b03">show BIA layers</a>
  </h4>
  <p>
    Total number of sq. miles of area identified as biologically important for feeding or migrating for part of the year that overlap with the footprint of the sketched plan.
  </p>
  <ul class="sightings">
    {{#sensitiveWhales}}
      <!--
      <li class="Blue">Blue whales <span class="sci">Balaenoptera musculus</span>
        <span class="area">{{BLUE_SQM}} of {{BLUE_TOT}} sq. mi. <strong>({{BLUE_PERC}}%)</strong></span>
      </li>
      <li class="Gray">Gray whales <span class="sci">Eschrichtius robustus</span>
        <span class="area">{{GRAY_SQM}} of {{GRAY_TOT}} sq. mi. <strong>({{GRAY_PERC}}%)</strong></span>
      </li>
       <li class="Humpback">Humpback whales <span class="sci">Megaptera novaeangliae</span>
        <span class="area">{{HUMP_SQM}} of {{HUMP_TOT}} sq. mi. <strong>({{HUMP_PERC}}%)</strong></span>
      </li>  
      -->
      <li class="Blue">Blue whales <span class="sci">Balaenoptera musculus</span>
        <span class="area"><strong>{{BLUE_SQM}} sq. mi.</strong></span>
      </li>
      <li class="Gray">Gray whales <span class="sci">Eschrichtius robustus</span>
        <span class="area"><strong>{{GRAY_SQM}}</strong></span>
      </li>
       <li class="Humpback">Humpback whales <span class="sci">Megaptera novaeangliae</span>
        <span class="area"><strong>{{HUMP_SQM}} sq. mi.</strong></span>
      </li>  
    {{/sensitiveWhales}}
  </ul>
</div>

<div class="reportSection sightings {{lengthChangeClass}} collapsed">
  <h4>Channel Islands Naturalist Corp Observations</h4>
  <p>
    Total number of observations recorded in the footprint of this sketched plan by the Channel Islands Naturalist Corp upon whale watching vessels.  View the effort layer to assess wether this is an appropriate data set to use to compare plans of interest.
  </p>
  <ul class="sightings">
  {{#whaleSightings}}
    <li class="{{id}}">{{name}} <span class="sci">{{scientificName}}</span>
      <span class="area">{{count}} of {{count_tot}} ({{count_perc}}%)</span>
    </li>
  {{/whaleSightings}}
  </ul>
  <a class="moreResults" href="#">more results</a>
  <a href="#" style="float:right;" data-toggle-node="5541a9abcdac4caa025a3ba8">show effort layer</a>
</div>

