
<div class="reportSection sightings">
  <h4>Biologically Important Areas (BIAs)
    <a href="#" style="float:right;" data-toggle-node="54dcd2ee9d2d9ba032e35b03">show BIA layers</a>
  </h4>
    <p>
      Total number of sq. miles of area identified as biologically important for feeding or migrating for part of the year that overlap with the footprint of the sketched plan.
    </p>
  {{#sensitiveWhales}}
  <p><strong>In {{SC_NAME}}s:</strong></p>
  <ul class="sightings">
      <li class="Blue">Blue whales <span class="sci">Balaenoptera musculus</span>
        <span class="area"><strong>{{BLUE_SQM}}</strong></span>
      </li>
      <li class="Gray">Gray whales <span class="sci">Eschrichtius robustus</span>
        <span class="area"><strong>{{GRAY_SQM}}</strong></span>
      </li>
       <li class="Humpback">Humpback whales <span class="sci">Megaptera novaeangliae</span>
        <span class="area"><strong>{{HUMP_SQM}}</strong></span>
      </li>  
  </ul>
  {{/sensitiveWhales}}
</div>

<div class="reportSection sightings {{lengthChangeClass}} collapsed">
  <h4>Channel Islands Naturalist Corp Observations</h4>
  <p>
    Total number of observations recorded in the footprint of this sketched plan by the Channel Islands Naturalist Corp upon whale watching vessels.  View the effort layer to assess whether this is an appropriate data set to use to compare plans of interest.
  </p>
    {{#hasManagementAreas}}
    <p><strong>In Management Areas:</strong></p>
    <ul class="sightings">
      {{#mgmt_area_whales}}
      <li class="{{id}}">{{name}} <span class="sci">{{scientificName}}</span>
        {{^is_na}}
          <span class="area">{{count}} of {{count_tot}} ({{count_perc}}%)</span>
        {{/is_na}}
        {{#is_na}}
          <span class="na_area">N/A<sup>*</sup></span>
        {{/is_na}}
      </li>
      {{/mgmt_area_whales}}
    </ul>
    {{/hasManagementAreas}}
    
    {{#hasShippingLanes}}
      <p><strong>In Shipping Lanes:</strong></p>
      <ul class="sightings">
      {{#shipping_lane_whales}}
        <li class="{{id}}">{{name}} <span class="sci">{{scientificName}}</span>
          {{^is_na}}
            <span class="area">{{count}} of {{count_tot}} ({{count_perc}}%)</span>
          {{/is_na}}
          {{#is_na}}
            <span class="na_area">N/A<sup>*</sup></span>
          {{/is_na}}
        </li>
      {{/shipping_lane_whales}}
      </ul>
    {{/hasShippingLanes}}
    {{#hasOtherWhales}}
    <p><strong>In Other Sketch Types:</strong></p>
    <ul class="sightings">
      {{#otherWhaleSightings}}
      <li class="{{id}}">{{name}} <span class="sci">{{scientificName}}</span>
        {{^is_na}}
          <span class="area">{{count}} of {{count_tot}} ({{count_perc}}%)</span>
        {{/is_na}}
        {{#is_na}}
          <span class="na_area">N/A<sup>*</sup></span>
        {{/is_na}}
      </li>
      {{/otherWhaleSightings}}
    </ul>
    {{/hasOtherWhales}}
  <a href="#" style="float:right;" data-toggle-node="5541a9abcdac4caa025a3ba8">show effort layer</a>

  {{#hasNAs}}
    <p style="margin-top:30px;"><sup>*</sup><i>Whale sighting counts are only applicable within the Channel Island Naturalist Corp Observation area. If at least 50% of a management area or shipping lane lies outside this region, the count values will be marked as N/A.</i>
    </p>
  {{/hasNAs}}
</div>

<div class="reportSection sightings">
  <h4>Whale Density Habitat Models
    <a href="#" style="float:right;" data-toggle-node="5523fa79b43a3ad42844da60">show whale density layer</a>
  </h4>
    <p>
      This analytic calculates the sq. miles of overlap with areas of top 20% density value according to the Redfern et. al. whale density habitat models.  A greater number of sq. miles can be interpreted as a greater overlap with higher density areas.
    </p>
  {{#redfern_whales}}
  <p><strong>In {{SC_NAME}}s:</strong></p>
  <ul class="sightings">
      <li class="Blue">Blue whales <span class="sci">Balaenoptera musculus</span>
        <span class="area"><strong>{{BLUE_SQM}}</strong></span>
      </li>
      <li class="Fin">Fin whales <span class="sci">Balaenoptera physalus</span>
        <span class="area"><strong>{{FIN_SQM}}</strong></span>
      </li>
       <li class="Humpback">Humpback whales <span class="sci">Megaptera novaeangliae</span>
        <span class="area"><strong>{{HUMP_SQM}}</strong></span>
      </li>  
  </ul>
  {{/redfern_whales}}
</div>
<div class="reportSection sightings">
  <h4>Overlap with Blue Whale Home Range
    <a href="#" style="float:right;" data-toggle-node="5537fd6a8c5b43eb0fad2c29">show layer</a>
  </h4>
    <p>
      {{#ladd_whales}}
        <strong>{{SC_NAME}}s</strong> overlap with <strong>{{COUNT}}</strong> core areas of use, out of the 53 core areas of use identified in the study area.
      {{/ladd_whales}}
    </p>
    <p><i>Core areas of use were determined for each individual blue whale with a satellite tag.</i></p>

</div>

