
<div class="reportSection sightings">
  <h4>Whale Sightings</h4>
  <ul class="sightings">
  {{#whaleSightings}}
    <li class="{{id}}">{{name}} <span class="sci">{{scientificName}}</span><span class="count">{{count}}</span></li>
  {{/whaleSightings}}
  </ul>
  <a class="moreResults" href="#">more results</a>
  <a href="#" style="float:right;" data-toggle-node="5541a9abcdac4caa025a3ba8">show effort layer</a>
</div>
